.main {
    background-color: rgb(47, 49, 54);
    min-width: 100%;
    overflow-y: auto;
}

.sidebar {
    display: inline-block;
    height: 100%;
    width: 30%;
    color: lightgray;
    border-right: 1px solid rgb(20, 20, 20);
    position: fixed;
}

.content {
    left: 30%;
    width: 70%;
    height: 100%;
    position: absolute;
    display: inline-block;
    overflow-y: auto;
}