<div>
    <mat-list class="sidebar-list">
        <mat-list-item routerLink="/binding/list" [routerLinkActive]="['is-active']"><span class="sidebar-item">Bindings</span></mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item routerLink="/action/list" [routerLinkActive]="['is-active']"><span class="sidebar-item">Actions</span></mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item routerLink="/settings/list" [routerLinkActive]="['is-active']"><span class="sidebar-item">Settings</span></mat-list-item>
        <mat-divider></mat-divider>
    </mat-list>
</div>